body {
  font-family: sans-serif;
  /*background: #2d353c;*/
}

.container {
  margin: 0 auto;
  width: 920px;
}

#punchcard {
  width: 100%;
  height: 500px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #c0c0c0;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: Arial, sans-serif;
  font-size: 12px;
  fill: #777;
}

.circle {
  fill: #444444;
}
